<?xml version="1.0" encoding="utf-8"?>
<robot name="Ackermann_robot" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="package_name" value="robot_control"/>

    <xacro:include filename="base.xacro"/>
    <xacro:include filename="wheels_links.xacro"/>
    <xacro:include filename="wheels_joints.xacro"/>
    <xacro:include filename="torno_arckermann_links.xacro"/>
    <xacro:include filename="torno_arckermann_joints.xacro"/>
    <xacro:include filename="imu.xacro"/>
    <xacro:include filename="transmissions.xacro"/>
    <xacro:include filename="lidar.xacro"/>
    
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo> 
    
</robot>
